<div class="tabs tabs-icon-top">
  {{#link-to 'index' class="tab-item"}}
    <i class="icon ion-ios7-clock"></i>
    Recent
  {{/link-to}}
  {{#link-to 'groups' class="tab-item"}}
    <i class="icon ion-ios7-people"></i>
    Groups
  {{/link-to}}
    {{#link-to 'people' class="tab-item"}}
    <i class="icon ion-ios7-folder"></i>
    People
  {{/link-to}}
  {{#link-to 'settings' class="tab-item" currentWhen="settings"}}
    <i class="icon ion-ios7-gear-outline"></i>
    Settings
  {{/link-to}}
</div>
