<div class="list card">

  <div class="item item-avatar">
    <h2>Jacket potatoes community</h2>
  </div>

  <div class="item item-image">
    <img src="http://www.av8-cotswoldairport.co.uk/wp-content/uploads/2013/02/jacket-potato2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    More
  </a>

</div>
