{{#nav-bar title="Messenger"}}
  {{btn-compose action="newMessage"}}
{{/nav-bar}}
<ul class="list">
  {{#each person in model}}
   <a class="item item-thumbnail-left" href="#">
      <img class="avatar" src={{person.avatar}}>
      <h2>{{person.first_name}} {{person.last_name}}</h2>
      <p>Let's brunch!</p>
    </a>
  {{/each}}
</ul>
